absl-py==0.3.0
altgraph==0.16.1
astor==0.7.1
bleach==1.5.0
cachetools==3.1.1
cycler==0.10.0
cython==0.28.5
dask==1.1.4
fastdtw==0.3.2
freetype-py==2.1.0.post1
fuel==0.2.0
future==0.17.1
fvcore==0.1.dev200506
gast==0.2.0
google-auth==1.9.0
google-auth-oauthlib==0.4.1
grpcio==1.14.1
h5py==2.8.0
helpdev==0.6.10
html5lib==0.9999999
imageio==2.8.0
imageio-ffmpeg==0.4.1
imgaug==0.2.6
imutils==0.4.6
keras-applications==1.0.8
keras-preprocessing==1.1.0
kiwisolver==1.0.1
macholib==1.11
markdown==2.6.11
matplotlib==2.2.2
natsort==6.2.0
networkx==2.1
numexpr==2.6.9
numpy==1.15.0
oauthlib==3.1.0
opencv-contrib-python==4.1.2.30
pandas==0.24.1
parso==0.5.1
pefile==2018.8.8
picklable-itertools==0.1.1
pillow==5.2.0
portalocker==1.7.0
proglog==0.1.9
progressbar2==3.39.3
protobuf==3.11.1
ptflops==0.5.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pyinstaller==3.4
pyqt5==5.12.3
pyqt5-sip==12.7.0
python-utils==2.3.0
pytorch-swats==0.1.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-image==0.14.2
scipy==1.1.0
simplejson==3.17.0
tables==3.5.1
tabulate==0.8.7
tensorboard==1.12.0
tensorboardx==1.6
tensorflow-gpu==2.1.0
termcolor==1.1.0
toolz==0.9.0
torch==1.1.0
torch-vision==0.1.6.dev0
torchvision==0.2.1
tqdm==4.24.0
vispy==0.6.4
werkzeug==0.14.1
yacs==0.1.7
youtube-dl==2019.11.5